# **InterUni Datathon**
# MACS Model Masters

# Section 1: EDA

## I. Explore data

In [4]:
# Import necessary packages
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
# Import data
df = pd.read_csv("train.csv")

In [6]:
df.head(2)

,TransactionNumber,UserID,Age,Gender,Occupation,EducationLevel,MaritalStatus,NumDependents,Income,Expenditure,...,MerchantID,TransactionType,TransactionLocation,DeviceType,Latitude,Longitude,EmailDomain,Terrorism,UserTenure,IsFraud
0,8765,70,37,Female,Professional,Bachelor,Widowed,3,28884.43 AUD,14610.61 AUD,...,M006,Withdrawal,Adelaide,Mobile,-31.840233,145.612793,jon44@disposable.com,False,113,1
1,9645,3386,34,Male,Student,High School,Married,4,AU$ 54919.07,39169.49 AUD,...,M002,Withdrawal,Canberra,Mobile,-37.020100,144.964600,emilyreese@gmail.com,False,104,1

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10966 entries, 0 to 10965
Data columns (total 24 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   TransactionNumber    10966 non-null  int64
 1   UserID               10966 non-null  int64
 2   Age                  10966 non-null  int64
 3   Gender               10966 non-null  object
 4   Occupation           10966 non-null  object
 5   EducationLevel       10966 non-null  object
 6   MaritalStatus        10966 non-null  object
 7   NumDependents        10966 non-null  int64
 8   Income               10966 non-null  object
 9   Expenditure          10966 non-null  object
 10  GiftsTransaction     10966 non-null  object
 11  TransactionDate      10966 non-null  object
 12  TransactionTime      10966 non-null  object
 13  TransactionAmount    10966 non-null  object
 14  MerchantID           10966 non-null  object
 15  TransactionType      10966 non-null  object
 16  TransactionLocation  10966 non-null  object
 17  DeviceType           10966 non-null  object
 18  Latitude             10923 non-null  float64
 19  Longitude            10923 non-null  float64
 20  EmailDomain          10966 non-null  object
 21  Terrorism            10966 non-null  bool
 22  UserTenure           10966 non-null  int64
 23  IsFraud              10966 non-null  int64
dtypes: bool(1), float64(2), int64(6), object(15)
memory usage: 1.9+ MB

In [8]:
df.describe()

,TransactionNumber,UserID,Age,NumDependents,Latitude,Longitude,UserTenure,IsFraud
count,10966.000000,10966.000000,10966.000000,10966.000000,10923.000000,10923.000000,10966.000000,10966.000000
mean,9117.500091,2483.885282,2751.845887,1.995714,-30.363255,141.254786,60.786157,0.364308
std,5293.669640,1429.402615,9730.988917,1.408035,6.962819,11.268395,34.254477,0.481257
min,1.000000,1.000000,-68.000000,0.000000,-41.640079,-112.026050,1.000000,0.000000
25%,4516.250000,1253.000000,26.000000,1.000000,-37.020100,142.702789,31.000000,0.000000
50%,9120.500000,2471.000000,34.000000,2.000000,-31.840233,144.964600,61.000000,0.000000
75%,13710.750000,3727.000000,43.000000,3.000000,-25.042261,145.612793,90.000000,1.000000
max,18277.000000,5000.000000,67000.000000,4.000000,57.851580,149.012375,119.000000,1.000000

## II. Clean data

In [10]:
# Age must be between 18 and 99
print(df.shape[0])
print(df[df["Age"] > 100].shape[0])
print(df[df["Age"] < 17].shape[0])
df = df[(df["Age"] < 100) & (df["Age"] > 17)]

10966
858
886

In [11]:
# Gender
# Clean
gender_correction = {"isnotfemale": "Male", "he": "Male", "he": "Male", "man": "Male", "man": "Male","fem": "Female", "she":"Female","woman":"Female","isnotmale":"Female"}
df['Gender']=df['Gender'].replace(gender_correction)
df["Gender"].value_counts()

# Onehot encoding
code_gender = pd.get_dummies(df[["Gender"]], dtype = int, drop_first = True)
df = df.join([code_gender])
df = df.drop(columns = "Gender").reset_index(drop = True)

In [12]:
# Occupation
# Onehot encoding
code_occupation = pd.get_dummies(df[["Occupation"]], dtype = int, drop_first = True)
df = df.join([code_occupation])
df = df.drop(columns = "Occupation").reset_index(drop = True)

In [13]:
# Education Level (ordinal value)
df["EducationLevel"] = df["EducationLevel"].replace({"High School": 0,"Bachelor":1, "Master":2,"PhD":3})

In [14]:
# Marital Status
# Onehot encoding
code_marital_status = pd.get_dummies(df[["MaritalStatus"]], dtype = int, drop_first = True)
df = df.join([code_marital_status])
df = df.drop(columns = "MaritalStatus").reset_index(drop = True)

In [15]:
# Income, Expenditure, GiftTransaction, Transaction Amount
df[["Income", "Expenditure", "GiftsTransaction", "TransactionAmount"]].head(10)

          Income   Expenditure GiftsTransaction TransactionAmount
0   28884.43 AUD  14610.61 AUD        £ 1050.01        AU$ 258.14
1   AU$ 54919.07  39169.49 AUD        £ 4969.71         34.94 AUD
2   AU$ 74728.57  55873.76 AUD        £ 1149.85        AU$ 323.82
3   AU$ 55712.62  AED 89649.04       AU$ 4335.7         AED 32.49
4    53004.7 AUD  AED 43601.02      4763.48 AUD       1140.75 AED
5  101381.56 AUD   AED 81036.3       196.29 AUD         67.39 AED
6   AU$ 63035.98  91610.14 AED      3009.44 AUD         899.6 AED
7   AU$ 61284.85  AU$ 36604.93      1214.27 GBP         19.41 AUD
8   AU$ 28419.25  AU$ 11172.93       600.92 GBP        AU$ 111.73
9   57384.51 AUD  AU$ 40721.71     10819.52 GBP        110.54 AUD

In [16]:
# Income, Expenditure, GiftsTransaction, TransactionAmount

# GiftsTransaction
df[['first_value', 'second_value']] = df["GiftsTransaction"].str.split(' ', expand=True)
    
df["first_value_len"] = df["first_value"].apply(lambda s:len(s))
df["second_value_len"] = df["second_value"].apply(lambda s:len(s))
    
    # function to get monetary symbol
def get_monetary_symbol(row):
    if row['first_value_len'] == 1:
        return row['first_value']
    elif row['first_value'] == "AU$":
        return row['first_value']
    elif row['first_value'] == "AED":
        return row['first_value']
    elif row['second_value'] == "GBP":
        return row['second_value']
    elif row['second_value'] == "AUD":
        return row['second_value']
    else:
        return None
    
df["monetary_symbol"] = df.apply(get_monetary_symbol, axis=1)
    
    # function to get monetary value
def get_monetary_value(row):
    if row['first_value'] == row["monetary_symbol"]:
        return row['second_value']
    else:
        return row['first_value']
            
df["monetary_value"] = df.apply(get_monetary_value, axis=1)

df["monetary_value"] = df["monetary_value"].astype("float")
    
    # function to convert to AUD
def get_exchange_rate(row):
    if row['monetary_symbol'] == "£":
        return 1.96
    elif row['monetary_symbol'] == "GBP":
        return 1.96
    elif row['monetary_symbol'] == "AED":
        return 0.41
    else:
        return 1
    
df["exchange_rate"] = df.apply(get_exchange_rate, axis=1)
    
df["GiftsTransaction_AUD_equivalent"] = df["exchange_rate"]*df["monetary_value"]
    
df = df.drop(columns = ["first_value_len", "second_value_len", 'first_value', 'second_value', "exchange_rate", "monetary_symbol","monetary_value"]).reset_index(drop = True)

In [17]:
# Income, Expenditure, GiftsTransaction, TransactionAmount

# Income
df[['first_value', 'second_value']] = df["Income"].str.split(' ', expand=True)
    
df["first_value_len"] = df["first_value"].apply(lambda s:len(s))
df["second_value_len"] = df["second_value"].apply(lambda s:len(s))
    
    # function to get monetary symbol
def get_monetary_symbol(row):
    if row['first_value_len'] == 1:
        return row['first_value']
    elif row['first_value'] == "AU$":
        return row['first_value']
    elif row['first_value'] == "AED":
        return row['first_value']
    elif row['second_value'] == "GBP":
        return row['second_value']
    elif row['second_value'] == "AUD":
        return row['second_value']
    else:
        return None
    
df["monetary_symbol"] = df.apply(get_monetary_symbol, axis=1)
    
    # function to get monetary value
def get_monetary_value(row):
    if row['first_value'] == row["monetary_symbol"]:
        return row['second_value']
    else:
        return row['first_value']
            
df["monetary_value"] = df.apply(get_monetary_value, axis=1)

df["monetary_value"] = df["monetary_value"].astype("float")
    
    # function to convert to AUD
def get_exchange_rate(row):
    if row['monetary_symbol'] == "£":
        return 1.96
    elif row['monetary_symbol'] == "GBP":
        return 1.96
    elif row['monetary_symbol'] == "AED":
        return 0.41
    else:
        return 1
    
df["exchange_rate"] = df.apply(get_exchange_rate, axis=1)
    
df["Income_AUD_equivalent"] = df["exchange_rate"]*df["monetary_value"]
    
df = df.drop(columns = ["first_value_len", "second_value_len", 'first_value', 'second_value', "exchange_rate", "monetary_symbol","monetary_value"]).reset_index(drop = True)

In [18]:
# Income, Expenditure, GiftsTransaction, TransactionAmount

# Expenditure
df[['first_value', 'second_value']] = df["Expenditure"].str.split(' ', expand=True)
    
df["first_value_len"] = df["first_value"].apply(lambda s:len(s))
df["second_value_len"] = df["second_value"].apply(lambda s:len(s))
    
    # function to get monetary symbol
def get_monetary_symbol(row):
    if row['first_value_len'] == 1:
        return row['first_value']
    elif row['first_value'] == "AU$":
        return row['first_value']
    elif row['first_value'] == "AED":
        return row['first_value']
    elif row['second_value'] == "GBP":
        return row['second_value']
    elif row['second_value'] == "AUD":
        return row['second_value']
    else:
        return None
    
df["monetary_symbol"] = df.apply(get_monetary_symbol, axis=1)
    
    # function to get monetary value
def get_monetary_value(row):
    if row['first_value'] == row["monetary_symbol"]:
        return row['second_value']
    else:
        return row['first_value']
            
df["monetary_value"] = df.apply(get_monetary_value, axis=1)

df["monetary_value"] = df["monetary_value"].astype("float")
    
    # function to convert to AUD
def get_exchange_rate(row):
    if row['monetary_symbol'] == "£":
        return 1.96
    elif row['monetary_symbol'] == "GBP":
        return 1.96
    elif row['monetary_symbol'] == "AED":
        return 0.41
    else:
        return 1
    
df["exchange_rate"] = df.apply(get_exchange_rate, axis=1)
    
df["Expenditure_AUD_equivalent"] = df["exchange_rate"]*df["monetary_value"]
    
df = df.drop(columns = ["first_value_len", "second_value_len", 'first_value', 'second_value', "exchange_rate", "monetary_symbol","monetary_value"]).reset_index(drop = True)

In [19]:
# Income, Expenditure, GiftsTransaction, TransactionAmount

# TransactionAmount
df[['first_value', 'second_value']] = df["TransactionAmount"].str.split(' ', expand=True)
    
df["first_value_len"] = df["first_value"].apply(lambda s:len(s))
df["second_value_len"] = df["second_value"].apply(lambda s:len(s))
    
    # function to get monetary symbol
def get_monetary_symbol(row):
    if row['first_value_len'] == 1:
        return row['first_value']
    elif row['first_value'] == "AU$":
        return row['first_value']
    elif row['first_value'] == "AED":
        return row['first_value']
    elif row['second_value'] == "GBP":
        return row['second_value']
    elif row['second_value'] == "AUD":
        return row['second_value']
    else:
        return None
    
df["monetary_symbol"] = df.apply(get_monetary_symbol, axis=1)
    
    # function to get monetary value
def get_monetary_value(row):
    if row['first_value'] == row["monetary_symbol"]:
        return row['second_value']
    else:
        return row['first_value']
            
df["monetary_value"] = df.apply(get_monetary_value, axis=1)

df["monetary_value"] = df["monetary_value"].astype("float")
    
    # function to convert to AUD
def get_exchange_rate(row):
    if row['monetary_symbol'] == "£":
        return 1.96
    elif row['monetary_symbol'] == "GBP":
        return 1.96
    elif row['monetary_symbol'] == "AED":
        return 0.41
    else:
        return 1
    
df["exchange_rate"] = df.apply(get_exchange_rate, axis=1)
    
df["TransactionAmount_AUD_equivalent"] = df["exchange_rate"]*df["monetary_value"]
    
df = df.drop(columns = ["first_value_len", "second_value_len", 'first_value', 'second_value', "exchange_rate", "monetary_symbol","monetary_value"]).reset_index(drop = True)

In [20]:
df = df.drop(columns = ["GiftsTransaction", "Income", 'Expenditure', 'TransactionAmount']).reset_index(drop = True)

In [21]:
# Transaction date, Transaction time
df["TransactionDate"] =pd.to_datetime(df["TransactionDate"])

In [22]:
# Transaction Type
code_transaction_type = pd.get_dummies(df[["TransactionType"]], dtype = int, drop_first = True)
df = df.join([code_transaction_type])
df = df.drop(columns = "TransactionType").reset_index(drop = True)

In [23]:
df["TransactionLocation"]=df["TransactionLocation"].str.upper()

mapping = {"MELB":"MELBOURNE", "MEL":"MELBOURNE", "MLB":"MELBOURNE", "MELBURN" : "MELBOURNE",
           "BNE":"BRISBANE", 
           "DRW": "DARWIN",
           "CBR":"CANBERRA",
           "PTH":"PERTH",
           "SYD":"SYDNEY",
           "ADL":"ADELAIDE", "ADELAIDE CITY":"ADELAIDE",
           "HBT":"HOBART"}

df["TransactionLocation"] = df["TransactionLocation"].replace(mapping)

code_TransactionLocation = pd.get_dummies(df[["TransactionLocation"]], dtype = int, drop_first = True)
df = df.join([code_TransactionLocation])
df = df.drop(columns = "TransactionLocation").reset_index(drop = True)

In [24]:
# Device Type
df["DeviceType"] = df["DeviceType"].replace({"galaxys7": "Mobile","iphone 15":"Mobile", "android":"Mobile","smartphone":"Mobile","mob":"Mobile"})

code_DeviceType = pd.get_dummies(df[["DeviceType"]], dtype = int, drop_first = True)
df = df.join([code_DeviceType])
df = df.drop(columns = "DeviceType").reset_index(drop = True)

In [25]:
# Lat Long
df = df.dropna()

## III. Analyze data

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9188 entries, 0 to 9221
Data columns (total 37 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   TransactionNumber                 9188 non-null   int64
 1   UserID                            9188 non-null   int64
 2   Age                               9188 non-null   int64
 3   EducationLevel                    9188 non-null   int64
 4   NumDependents                     9188 non-null   int64
 5   TransactionDate                   9188 non-null   datetime64[ns]
 6   TransactionTime                   9188 non-null   object
 7   MerchantID                        9188 non-null   object
 8   Latitude                          9188 non-null   float64
 9   Longitude                         9188 non-null   float64
 10  EmailDomain                       9188 non-null   object
 11  Terrorism                         9188 non-null   bool
 12  UserTenure                        9188 non-null   int64
 13  IsFraud                           9188 non-null   int64
 14  Gender_Male                       9188 non-null   int32
 15  Occupation_Retired                9188 non-null   int32
 16  Occupation_Student                9188 non-null   int32
 17  Occupation_Unemployed             9188 non-null   int32
 18  MaritalStatus_Married             9188 non-null   int32
 19  MaritalStatus_Single              9188 non-null   int32
 20  MaritalStatus_Widowed             9188 non-null   int32
 21  GiftsTransaction_AUD_equivalent   9188 non-null   float64
 22  Income_AUD_equivalent             9188 non-null   float64
 23  Expenditure_AUD_equivalent        9188 non-null   float64
 24  TransactionAmount_AUD_equivalent  9188 non-null   float64
 25  TransactionType_Purchase          9188 non-null   int32
 26  TransactionType_Transfer          9188 non-null   int32
 27  TransactionType_Withdrawal        9188 non-null   int32
 28  TransactionLocation_BRISBANE      9188 non-null   int32
 29  TransactionLocation_CANBERRA      9188 non-null   int32
 30  TransactionLocation_DARWIN        9188 non-null   int32
 31  TransactionLocation_HOBART        9188 non-null   int32
 32  TransactionLocation_MELBOURNE     9188 non-null   int32
 33  TransactionLocation_PERTH         9188 non-null   int32
 34  TransactionLocation_SYDNEY        9188 non-null   int32
 35  DeviceType_Mobile                 9188 non-null   int32
 36  DeviceType_Tablet                 9188 non-null   int32
dtypes: bool(1), datetime64[ns](1), float64(6), int32(19), int64(7), object(3)
memory usage: 1.9+ MB

In [28]:
df_final = df.drop(columns = ["TransactionNumber", "UserID", "TransactionDate", "TransactionTime", "MerchantID", "Latitude",
                              "Longitude", "EmailDomain"]).reset_index(drop = True)

In [29]:
corr = df_final.corr()
corr.style.background_gradient(cmap='coolwarm')

## IV. Model

In [31]:
X = df_final.drop(columns = "IsFraud")
y = df_final["IsFraud"]

In [32]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.20, random_state = 8, stratify = y)

In [33]:
!pip install xgboost

Requirement already satisfied: xgboost in c:\users\admin\anaconda3\lib\site-packages (2.1.1)
Requirement already satisfied: numpy in c:\users\admin\anaconda3\lib\site-packages (from xgboost) (1.24.3)
Requirement already satisfied: scipy in c:\users\admin\anaconda3\lib\site-packages (from xgboost) (1.11.1)

In [34]:
import xgboost as xgb

In [35]:
from xgboost import XGBClassifier

# Create an instance of the XGBClassifier
xgb_classifier = XGBClassifier(objective='binary:logistic')

# Fit the model to the training data
xgb_classifier.fit(X_train, y_train)

XGBClassifier(base_score=None, booster=None, callbacks=None,
              colsample_bylevel=None, colsample_bynode=None,
              colsample_bytree=None, device=None, early_stopping_rounds=None,
              enable_categorical=False, eval_metric=None, feature_types=None,
              gamma=None, grow_policy=None, importance_type=None,
              interaction_constraints=None, learning_rate=None, max_bin=None,
              max_cat_threshold=None, max_cat_to_onehot=None,
              max_delta_step=None, max_depth=None, max_leaves=None,
              min_child_weight=None, missing=nan, monotone_constraints=None,
              multi_strategy=None, n_estimators=None, n_jobs=None,
              num_parallel_tree=None, random_state=None, ...)

In [36]:
# make predictions
y_pred = xgb_classifier.predict(X_test)

from sklearn.metrics import f1_score
f1_score(y_test, y_pred)

0.7654530059271805